@using BigShop.Web.Models
@model ProductViewModel

@{
    var category = ViewBag.Category as ProductViewModel;
    ViewBag.Title = "BigShop.com - " + category.Name;
    ViewBag.MetaKeyword = category.MetaKeyword;
    ViewBag.MetaDescription = category.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Single</li>
            </ol>
        </div>
    </div>
</div>

<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                @{
                                    var moreImages = (List<string>)ViewBag.MoreImages;
                                }
                                @if (moreImages.Count > 0)
                                {
                                    foreach (var item in moreImages)
                                    {
                                        <li data-thumb="@item">
                                            <div class="thumb-image"> <img src="@item" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script src="~/Assets/Client/js/imagezoom.js"></script>
                        <script defer src="~/Assets/Client/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Assets/Client/css/flexslider.css" type="text/css" media="screen" />

                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>@Model.Name</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#">@Model.ViewCount Lượt xem </a>

                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <h5 class="item_price">@Model.Price.ToString("#,##") VNĐ</h5>
                            <span>@Model.Quantity Sản phẩm</span>
                            <p>@Html.Raw(Model.Description)</p>

                            <button class="btnAddToCart btn btn-info" data-id="@Model.ID">THÊM VÀO GIỎ HÀNG</button>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <hr />
                <div class="details">
                    <div class="container">

                        <ul class="nav nav-tabs" style="width: 820px">
                            <li class="active"><a data-toggle="tab" href="#home">CẤU HÌNH</a></li>
                            <li><a data-toggle="tab" href="#menu1">CHI TIẾT SẢN PHẨM</a></li>
                            <li><a data-toggle="tab" href="#menu2">ĐÁNH GIÁ</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>CẤU HÌNH</h3>
                                <div class="profileProduct">
                                    @Html.Raw(Model.Profile)
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="productContent" style="width: 820px">
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="relatedProduct">
                    <h3>SẢN PHẨM LIÊN QUAN</h3>
                    <div class="latestproducts">
                        <div class="product-one">
                            @foreach (var item in ViewBag.RelatedProducts)
                            {
                                var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="" /></a>
                                        <div class="product-bottom">
                                            <h3 class="text-center">@item.Name</h3>
                                            <h4 class="text-center">
                                                <a class="item_add btnAddToCart" href="#">
                                                    <i></i>
                                                    <span class=" item_price">@item.Price.ToString("#,##")</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="srch">
                                            <span>-50%</span>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 prdt-right">
                @{
                    var equivalentProducts = (IEnumerable<ProductViewModel>)ViewBag.EquivalentProducts;
                }
                @if (equivalentProducts.Count() > 0)
                {
                    <h4 class="font-italic">SẢN PHẨM TƯƠNG ĐƯƠNG</h4>
                    foreach (var item in equivalentProducts)
                    {
                        var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                        <div class="col-md-12 product-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt=""></a>
                                <div class="product-bottom">
                                    <h3 class="text-center">@item.Name</h3>
                                    <h4 class="text-center"><a class="item_add" href="#"><i></i></a> <span class=" item_price">@item.Price.ToString("#,##")</span></h4>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

