@using BigShop.Web.Models
@model ProductViewModel

@{
    var category = ViewBag.Category as ProductViewModel;
    ViewBag.Title = "BigShop.com - " + Model.Name;
    ViewBag.MetaKeyword = category.MetaKeyword;
    ViewBag.MetaDescription = category.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@{
    var url10 = "https://localhost:44300/san-pham/" + Model.ProductCategory.Alias + "/" + Model.Alias + "/" + Model.ID;
}
<meta property="og:url" content="@url10" />
<meta property="og:type" content="bigshp.com" />
<meta property="og:title" content="@Model.Name" />
<meta property="og:description" content="@category.MetaDescription" />
<meta property="og:image" content="@Model.Image" />

<div class="container">
    <div class="breadcrumbs-main">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class=""><a href="/dang-nhap">Sản phẩm</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin chi tiết</h4>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(Model.Profile)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="row">
                <div class="col-md-9 single-main-left" style="background: white; ">
                    <div class="sngl-top">
                        <div class="col-md-5 single-top-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    @{
                                        var moreImages = (List<string>)ViewBag.MoreImages;
                                    }
                                    @if (moreImages.Count > 0)
                                    {
                                        foreach (var item in moreImages)
                                        {
                                            <li data-thumb="@item">
                                                <div class="thumb-image"> <img src="@item" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- FlexSlider -->
                            <script src="~/Assets/Client/js/imagezoom.js"></script>
                            <script defer src="~/Assets/Client/js/jquery.flexslider.js"></script>
                            <link rel="stylesheet" href="~/Assets/Client/css/flexslider.css" type="text/css" media="screen" />

                            <script>
                                // Can also be used with $(document).ready()
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        controlNav: "thumbnails"
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-md-7 single-top-right" style="background: white; padding: 5px">
                            <div class="single-para simpleCart_shelfItem">
                                <h2>@Model.Name</h2>
                                <div class="star-on">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="star-footer">
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                                <li><a href="#"><i> </i></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="review">
                                                @if (Model.ViewCount != null)
                                                {
                                                    <h6 href="#">@Model.ViewCount Lượt xem </h6>
                                                }

                                                @if (Model.Quantity == 0)
                                                {
                                                    <span style="font-size: 20px; color:red">HẾT HÀNG</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.Quantity Sản phẩm</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Xem cấu hình chi tiết</button>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>

                                <h5 class="item_price" style="font-size: 22px;">
                                    @Model.Price.ToString("#,##") VNĐ
                                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                                    <g:plusone size="medium"></g:plusone>

                                </h5>
                                <div id="fb-root"></div>
                                <script>
                                    (function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=185965845388898&autoLogAppEvents=1';
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>

                                <div class="fb-like" data-href="@url10" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                                <div class="fb-save" data-uri="https://localhost:44300/san-pham/apple-iphone/iphone-x-64gb/4" data-size="large"></div>

                                <div class="promotionInfomation" style="border-style: dotted;">
                                    <div style="margin-left: 20px;">
                                        <p style="font-size: 24px; color: red;">Khuyến mãi đặc biệt</p>
                                        <ul>
                                            @foreach (var item in ViewBag.Sale)
                                            {
                                                <span>@Html.Raw(item.Description)</span>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                @if (Model.Quantity == 0)
                                {
                                    <button style="margin-top: 15px;" disabled class="btnAddToCart btn btn-info" data-id="@Model.ID">THÊM VÀO GIỎ HÀNG</button>
                                }
                                else
                                {
                                    <button style="margin-top: 15px;" class="btnAddToCart btn btn-info" data-id="@Model.ID">THÊM VÀO GIỎ HÀNG</button>
                                }

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <hr />
                    <div class="details">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <ul class="nav nav-tabs" style="width: 820px">
                                        <li class="active"><a data-toggle="tab" href="#home">CẤU HÌNH</a></li>
                                        <li><a data-toggle="tab" href="#menu11">CHI TIẾT SẢN PHẨM</a></li>
                                        <li><a data-toggle="tab" href="#menu2">ĐÁNH GIÁ</a></li>
                                        <li><a data-toggle="tab" href="#menu9">SO SÁNH SẢN PHẨM</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="home" class="tab-pane fade in active" style="background: white">
                                            <div class="profileProduct">
                                                @Html.Raw(Model.Profile)
                                            </div>
                                        </div>
                                        <div id="menu11" class="tab-pane fade" style="background: white">
                                            <div class="container">
                                                <div class="productContent" style="width: 820px">
                                                    <style>
                                                        .productContent img {
                                                            width: 820px !important;
                                                        }
                                                    </style>
                                                    @Html.Raw(Model.Content)
                                                </div>
                                            </div>

                                        </div>
                                        <div id="menu2" class="tab-pane fade" style="background: white">
                                            <div class="container">
                                                @*<div id="fb-root"></div>
                                                <script>
                                                    (function (d, s, id) {
                                                        var js, fjs = d.getElementsByTagName(s)[0];
                                                        if (d.getElementById(id)) return;
                                                        js = d.createElement(s); js.id = id;
                                                        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=185965845388898&autoLogAppEvents=1';
                                                        fjs.parentNode.insertBefore(js, fjs);
                                                    }(document, 'script', 'facebook-jssdk'));</script>*@

                                                <div class="fb-comments" data-href="https://localhost:44300" data-numposts="5"></div>
                                            </div>
                                        </div>
                                        <div id="menu9" class="tab-pane fade">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="search-bar">
                                                        <form method="GET" role="form">
                                                            <input type="text" placeholder="Nhập tên sản phẩm" name="search" id="txtName1">
                                                            <input type="submit" value="">
                                                        </form>
                                                    </div>
                                                    <hr />
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="search-bar">
                                                        <form method="GET" role="form">
                                                            <input type="text" placeholder="Nhập tên sản phẩm" name="search" id="txtName2">
                                                            <input type="submit" value="">
                                                        </form>
                                                    </div>
                                                    <hr />

                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-6" id="compareproduct1">
                                                    @{
                                                        Html.RenderAction("CompareProduct1", Model);
                                                    }
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-md-6" id="compareproduct2">
                                                    @{
                                                        Html.RenderAction("CompareProduct2", Model);
                                                    }
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    @{
                                        var equivalentProducts = (IEnumerable<ProductViewModel>)ViewBag.EquivalentProducts;
                                    }
                                    @if (equivalentProducts.Count() > 0)
                                    {
                                        <h4 class="font-italic text-center">SẢN PHẨM TƯƠNG ĐƯƠNG</h4>
                                        foreach (var item in equivalentProducts)
                                        {
                                            var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                                            <div class="col-md-12 product-left">
                                                <div class="product-main simpleCart_shelfItem" style="width: 267px">
                                                    <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt=""></a>
                                                    <div class="product-bottom">
                                                        <h3 class="text-center">@item.Name</h3>
                                                        <h4 class="text-center"><a class="item_add btnAddToCart" href="#" data-id="@item.ID"><i></i></a> <span class="item_price">@item.Price.ToString("#, ##") VNĐ</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <hr />
                    <div class="clearfix"></div>
                    <div class="relatedProduct">
                        <h3>SẢN PHẨM LIÊN QUAN</h3>
                        <div class="latestproducts">
                            <div class="product-one">
                                @foreach (var item in ViewBag.RelatedProducts)
                                {
                                    var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                                    <div class="col-md-4 product-left p-left">
                                        <div class="product-main simpleCart_shelfItem">
                                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="" /></a>
                                            <div class="product-bottom">
                                                <h3 class="text-center">@item.Name</h3>
                                                <h4 class="text-center"><a class="item_add btnAddToCart" href="#" data-id="@item.ID"><i></i></a> <span class="item_price">@item.Price.ToString("#, ##") VNĐ</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3" style="padding: 0 0 0 15px">
                    <div class="panel panel-info">
                        <div class="panel-heading"> <h5 class="text-center">BigShop cam kết</h5></div>
                        <div class="panel-body">
                            <ul>
                                @foreach (var item in ViewBag.Policy)
                                {
                                    <span>@Html.Raw(item.Description)</span>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"> <h5 class="text-center">BigShop hỗ trợ thanh toán</h5></div>
                        <div class="panel-body">

                            <img src="~/Assets/Client/images/bank.PNG" class="img-responsive" />
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

