@using BigShop.Web.Models
@model ProductViewModel

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Single</li>
            </ol>
        </div>
    </div>
</div>

<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                @{
                                    var moreImages = (List<string>)ViewBag.MoreImages;
                                }
                                @if (moreImages.Count > 0)
                                {
                                    foreach (var item in moreImages)
                                    {
                                        <li data-thumb="@Model.MoreImage">
                                            <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script src="~/Assets/Client/js/imagezoom.js"></script>
                        <script defer src="~/Assets/Client/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Assets/Client/css/flexslider.css" type="text/css" media="screen" />

                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>@Model.Name</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 customer review </a>

                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <h5 class="item_price">@Model.Price.ToString("#,##") VNĐ</h5>
                            <span>@Model.Quantity Sản phẩm</span>
                            <p>@Html.Raw(Model.Description)</p>

                            <ul class="tag-men">
                                <span>TAG</span>
                                @*@{
                                        var tags = (IEnumerable<TagViewModel>)ViewBag.Tags;
                                    }
                                    @if (tags.Count() > 0)
                                    {
                                        foreach (var item in tags)
                                        {
                                            <li>
                                                <a href="/tag/@(item.ID)">@item.Name</a>
                                            </li>

                                        }
                                    }*@

                            </ul>
                            <a href="#" class="add-cart item_add">THÊM VÀO GIỎ HÀNG</a>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <hr />
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Cấu hình</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Thông tin chi tiét</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>


                    <div class="latestproducts">
                        <div class="product-one">
                            @foreach (var item in ViewBag.RelatedProducts)
                            {
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt=""></a>
                                        <div class="product-bottom">
                                            <h3>@item.Name</h3>
                                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@item.Price</span></h4>
                                        </div>
                                        <div class="srch">
                                            <span>-50%</span>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 prdt-right">
                <h4 class="font-weight-bold">CẤU HÌNH</h4>
                @Html.Raw(Model.Profile)
                <div class="clearfix"></div>
                <hr />

                @{
                    var equivalentProducts = (IEnumerable<ProductViewModel>)ViewBag.EquivalentProducts;
                }
                @if (equivalentProducts.Count() > 0)
                {
                    <h4 class="font-italic">SẢN PHẨM TƯƠNG ĐƯƠNG</h4>
                    foreach (var item in equivalentProducts)
                    {
                        <div class="col-md-12 product-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt=""></a>
                                <div class="product-bottom">
                                    <h3>@item.Name</h3>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@item.Price.ToString("#,##")</span></h4>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
