@using BigShop.Web.Models
@model IEnumerable<FooterViewModel>

<!--information-starts-->

<div class="information" style="padding-top: 3em;">
    <hr />
    <div class="container">
        <div class="infor-top">
            <div class="col-md-3 infor-left">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                    <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                    <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Danh mục sản phẩm</h3>
                <ul>
                    @foreach (var item in @ViewBag.ProductCategory)
                    {
                        var url = "/san-pham/" + item.Alias;
                        <li><a href="@url"><p>@item.Name</p></a></li>
                    }

                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Bài viết @ViewBag.Time</h3>
                <ul>
                    <li><a href="account.html"><p>My Account</p></a></li>
                    <li><a href="#"><p>My Credit slips</p></a></li>
                    <li><a href="#"><p>My Merchandise returns</p></a></li>
                    <li><a href="#"><p>My Personal info</p></a></li>
                    <li><a href="#"><p>My Addresses</p></a></li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Cơ sở</h3>
                <h4>
                    @foreach (var item in ViewBag.Contact)
                    {
                        <span>@item.Name</span>
                        <span>@item.Address</span>
                        <span>@item.PhoneNumber</span>
                        <a href="mailto:@item.Email">@item.Email</a>
                    }
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-6 footer-left">
                <form>
                    <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập email của bạn';}">
                    <input type="submit" value="Đăng ký nhận thư">
                </form>
            </div>
            <div class="col-md-6 footer-right">
                <p>© 2018 BigShop. All Rights Reserved | Design by <a href="mailto:quachthanghg@gmail.com">quachthanghg@gmail.com</a> </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--footer-end-->