@using Microsoft.AspNet.Identity
@using BigShop.Web.Models
@using BigShop.Common

<div class="top-header">

    <div class="container">
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="">
                            <a href="/" style="font-size: 30px; color: white">
                                BIGSHOP
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation" class="dropdown">
                            @Html.Partial("~/Views/ShoppingCart/Cart.cshtml")
                           
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="color: white">
                                <img src="images/img.jpg" alt="">@User.Identity.Name
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Thông tin tài khoản</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Cài đặt</span>
                                    </a>
                                </li>
                                <li><i class="fa fa-sign-out pull-right"></i><button type="submit">Đăng xuất</button></li>
                            </ul>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                            }
                        }
                        else
                        {
                            <li class="">
                                <a href="/dang-ky" class="user-profile dropdown-toggle" style="color: white">
                                    <img src="images/img.jpg" alt="">Đăng ký
                                </a>

                            </li>
                            <li class="">
                                <a href="/dang-nhap" class="user-profile dropdown-toggle" style="color: white">
                                    <img src="images/img.jpg" alt="">Đăng nhập
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        }



                    </ul>
                </nav>
            </div>
        </div>

        @*<div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">
                        <div class="box" style="width:140px;">
                            <ul class="support">
                                <li>
                                    <a style="color: white; font-size: 28px;" href="/">BIGSHOP</a>
                                </li>
                            </ul>
                        </div>
                        <div class="box1">
                            <ul class="support" style="width: 250px; margin-top: 7px;">
                                <li>
                                    <img src="~/Assets/Client/images/free-shipping2.png" style="width: 30px; height: 30px" />
                                    <a href="#" style="color: white">Free shipping với tất cả đơn hàng <span class="live"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 top-header-left" style="margin-top: 10px;">
                    <ul>
                        <li>Đăng ký</li>
                        <li>Đăng nhập</li>
                    </ul>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="cart box_1">
                                <div class="drop">
                                    <div class="box" style="width: 80px;">
                                        <a style="color: white" href="/tai-khoan" id="btnLogin">@User.Identity.Name</a>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="cart box_1">
                                <div class="drop">
                                    <div class="box" style="width: 80px;">
                                        <button style="color: white" type="submit">Thoát</button>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="cart box_1">
                            <div class="drop">
                                <div class="box" style="width: 80px;">
                                    <a style="color: white" href="/dang-nhap" id="btnLogin">Đăng nhập</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="cart box_1" style="margin-left: 30px;">
                            <div class="drop">
                                <div class="box" style="width: 60px;">
                                    <a style="color: white" href="/dang-ky">Đăng ký |</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }
                    @Html.Partial("~/Views/ShoppingCart/Cart.cshtml")

                </div>
                <div class="clearfix"></div>
            </div>*@
    </div>
</div>

<div class="container">
    <center>
        <div class="popup_login">
            <div class="login_wrapper">
                <button class="btn btn-danger pull-right" id="btnClose_form" type="button">X</button>
                <section class="login_content">
                    <div class="form-horizontal">
                        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "notify" }))
                        {

                            <h2>Login form</h2>
                            <div class="form-group">
                                <input type="text" name="UserName" class="form-control" placeholder="Username" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" class="form-control" placeholder="password" required="">
                            </div>
                            <div class="notify">
                                <p id="notify" style="color:red"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Login</button>
                            </div>
                            <div class="form-group">
                                <a href="#">Forgot password</a>
                            </div>
                            <div class="form-group">
                                <a href="#">Create Account</a>
                            </div>
                        }

                    </div>
                </section>
            </div>
        </div>

    </center>
</div>

@*<script>
        $("#btnLogin").click(function () {
            $(".popup_login").show();
        });
        $("#btnClose_form").click(function () {
            $(".popup_login").hide();
        });
    </script>*@