<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Assets/Client/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <link href="~/Assets/Client/FortAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/libs/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.MetaKeyword" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Assets/Client/js/simpleCart.min.js"></script>
    <link href="~/Assets/Client/css/memenu.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!--top-header-->
    @{Html.RenderAction("Header", "Home");}
    <!--top-header-->
    <!--start-logo-->
    @{Html.RenderAction("Logo", "Home");}
    <!--start-logo-->
    <!--bottom-header-->
    @{Html.RenderAction("Navigation", "Home");}
    <!--bottom-header-->
    <div>
        @RenderBody()
    </div>
    <script src="~/Assets/Client/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>

    <script src="~/Assets/Client/js/jquery.easydropdown.js"></script>
    <script src="~/Assets/Client/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Assets/Admin/libs/mustache/mustache.min.js"></script>
    <script src="~/Assets/Admin/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Assets/Client/js/common.js"></script>
    <script src="~/Assets/Client/js/shoppingCart.js"></script>
    @Scripts.Render("~/js/core")


    @{Html.RenderAction("Footer", "Home");}
    @RenderSection("FooterJS", required: false)

</body>
</html>