@using BigShop.Web.Models
@using BigShop.Data;
@model HomeViewModel

@{
    ViewBag.Title = "BigShop.com - Siêu thị điện thoại, Lablet, Laptop";
    ViewBag.MetaKeyword = "BigShop.com";
    ViewBag.MetaDescription = "Siêu thị điện thoại, Tablet, Laptop";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<!--banner-starts-->
<div class="container">
    <div class="row advertising">
        <div class="col-xs-12">
            <a href="#">
                <img src="~/Assets/Client/images/bannerIP.png" class="img-responsive" style="width: 1200px" />
            </a>
        </div>
    </div>
    <div class="row advertising">
        <div class="col-md-9">
            <div class="bnr" id="home">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider4">
                        @foreach (var item in Model.Slides)
                        {
                            <li>
                                <img src="@item.Image" alt="Slide" height="348" />
                            </li>
                        }
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="advertising1" style="background: white;">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Assets/Client/images/lt.jpeg" class="img-responsive" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Assets/Client/images/636617465393112946_Banner-J7-Pro-H2.png" class="img-responsive" />
                        </a>
                    </li>
                </ul>

            </div>
            <div style="background: white;">
                <h5 class="text-center" style="background: white">BẢN TIN CÔNG NGHỆ</h5>
                <ul>
                    @foreach (var item in ViewBag.Post)
                    {
                        <li style="background: white">
                            <a href="/">
                                <div class="row" style="padding: 10px;">
                                    <div class="col-xs-3">
                                        <img src="@item.Image" alt="Nokia X6" style="width: 70px; height: 50px; margin-right: 5px;" />
                                    </div>
                                    <div class="col-xs-9 ellipsis overflow">
                                        <p style="margin-left: 12px;">@item.Name</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </div>
</div>

<!--banner-ends-->
<!--Slider-Starts-Here-->
@section FooterJS{
    <script src="~/Assets/Client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
}
<!--End-slider-script-->
<!--about-starts-->
<div class="about">

    <div class="container">
        <h2>Sản phẩm HOT trên thị trường</h2>
        <div class="about-top grid-1">
            <div class="row" style="padding: 10px;">

            </div>
            @foreach (var item in ViewBag.Top)
            {
                var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                <div class="col-md-4">

                    <a href="@url">
                        <div style="background:#fff; padding: 10px;">
                            <div class="row">
                                <div col-md-8>
                                    <h4>@item.Name</h4>
                                    <h6>Giá: @item.Price.ToString("#,##") VNĐ</h6>
                                </div>
                                @*<div col-md-4>
                                    @if (item.Quantity == 0)
                                    {
                                        <h5 class="pull-right" style="color: red">Hết hàng</h5>
                                    }
                                </div>*@
                            </div>
                            <div>
                                <img src="@item.ImageHome" class="img-responsive" style="width: 360px" />
                            </div>
                        </div>
                    </a>
                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <h2>Sản phẩm mới nhất</h2>
        <div class="product-top">
            <div class="product-one">
                @foreach (var item in Model.LastestProducts)
                {
                    var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                    <div class="col-md-4">

                        <a href="@url">
                            <div style="background:#fff; padding: 10px;">
                                <h4>@item.Name</h4>
                                <h6>Giá: @item.Price.ToString("#,##") VNĐ</h6>
                                <div>
                                    <img src="@item.ImageHome" class="img-responsive" style="width: 360px" />
                                </div>
                            </div>
                        </a>
                    </div>

                    if (item.Quantity == 0)
                    {
                        <div class="srch srch1">
                            <span>HẾT HÀNG</span>
                        </div>
                    }
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="product">
    <div class="container">
        <h2>Sản phẩm bán chạy</h2>
        <div class="product-top">
            <div class="product-one">
                @foreach (var item in Model.TopProducts)
                {

                    var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                    <div class="col-md-4">

                        <a href="@url">
                            <div style="background:#fff; padding: 10px;">
                                <h4>@item.Name</h4>
                                <h6>Giá: @item.Price.ToString("#,##") VNĐ</h6>
                                <div>
                                    <img src="@item.ImageHome" class="img-responsive" style="width: 360px" />
                                </div>
                            </div>
                        </a>
                    </div>
                    if (item.Quantity == 0)
                    {
                        <div class="srch srch1">
                            <span>HẾT HÀNG</span>
                        </div>
                    }
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--product-end-->
