@using BigShop.Web.Models
@using BigShop.Data;
@model HomeViewModel

@{
    ViewBag.Title = "BigShop.com - Siêu thị điện thoại, Lablet, Laptop";
    ViewBag.MetaKeyword = "BigShop.com";
    ViewBag.MetaDescription = "Siêu thị điện thoại, Tablet, Laptop";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<!--banner-starts-->
<div class="container">
    <div class="row advertising">
        <div class="col-xs-12">
            <a href="#">
                <img src="~/Assets/Client/images/bannerIP.png" class="img-responsive" style="width: 1200px"/>
            </a>
        </div>
    </div>
    <div class="row advertising">
        <div class="col-md-9">
            <div class="bnr" id="home" style="height:348px">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider4" style="height:348px">
                        @foreach (var item in Model.Slides)
                        {
                            <li>
                                <img src="@item.Image" alt="Slide" height="348" />
                            </li>
                        }
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3" style="background: white">
            <div class="advertising">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Assets/Client/images/lt.jpeg" class="img-responsive" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Assets/Client/images/636617465393112946_Banner-J7-Pro-H2.png" class="img-responsive" />
                        </a>
                    </li>
                </ul>

            </div>
            <hr />
            <h5>BẢN TIN CÔNG NGHỆ</h5>
            <ul>
                @foreach (var item in ViewBag.Post)
        {
            <li>
                <a href="/">
                    <div class="row" style="padding: 10px;">
                        <div class="col-xs-3">
                            <img src="@item.Image" alt="Nokia X6" style="width: 70px; height: 40px; margin-right: 5px;" />
                        </div>
                        <div class="col-xs-9 ellipsis overflow">
                            <p>@item.Name</p>
                        </div>
                    </div>
                </a>
            </li>
}

            </ul>
        </div>
    </div>
</div>

<!--banner-ends-->
<!--Slider-Starts-Here-->
@section FooterJS{
    <script src="~/Assets/Client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
}
<!--End-slider-script-->
<!--about-starts-->
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            @foreach (var item in ViewBag.Top)
            {
                <div class="col-md-4 about-left">
                    <figure class="effect-bubba" style="width: 350px; height: 250px">
                        <img class="img-responsive" src="@item.Image" alt="" style="width: 350px; height: 250px" />
                        <figcaption>
                            <h2>@item.Name</h2>
                            <p>@item.Price</p>
                        </figcaption>
                    </figure>
                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <h2>Sản phẩm mới nhất</h2>
        <div class="product-top">
            <div class="product-one">
                @foreach (var item in Model.LastestProducts)
                {
                    var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="" /></a>
                            <div class="product-bottom">
                                <h3 class="text-center">@item.Name</h3>
                                <h4 class="text-center"><a class="item_add btnAddToCart" href="#" data-id="@item.ID"><i></i></a> <span class="item_price">@item.Price.ToString("#, ##") VNĐ</span></h4>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="product">
    <div class="container">
        <h2>Sản phẩm bán chạy</h2>
        <div class="product-top">
            <div class="product-one">
                @foreach (var item in Model.TopProducts)
                {

                    var url = "/san-pham/" + item.ProductCategory.Alias + "/" + item.Alias + "/" + item.ID;
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="" /></a>
                            <div class="product-bottom">
                                <h3 class="text-center">@item.Name</h3>
                                <h4 class="text-center"><a class="item_add btnAddToCart" data-id="@item.ID" href="#"><i></i></a> <span class=" item_price">@item.Price.ToString("#, ##") VNĐ</span></h4>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--product-end-->
